.comentarios-container {
    height: 250px;
    width: calc(100% - 20px);
    border: solid 1px grey;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: brown;
    color: white;
}